class/
exam/
literature/
stuff/

week_*.log
week_*.out
week_*.pdf
week_*_solution.tex
*_exam_*.log
*_exam_*.out
*_exam_*.pdf

*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.xml
*.gz
*.toc

progs/dynare/*\+*/