exam/
in-class/
literature/
stuff/
video/

*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls

*\+*/
checksum

booklet/ex*.log
booklet/ex*.out
booklet/ex*.run.xml
booklet/ex*.synctex.gz
booklet/ex*.toc
booklet/ans_ex*.tex

handouts/*.key

progs/dynare/*.log
progs/dynare/*.pdf
progs/dynare/*_TeX_binder.tex
progs/dynare/*/Output/*.mat
progs/dynare/*/latex/*.tex

progs/matlab/*_dynamic_g1.m
progs/matlab/*_dynamic_resid.m
progs/matlab/*_static_g1.m
progs/matlab/*_static_resid.m