
*.aux

*.bbl

*.bcf

*.blg

*.fdb_latexmk

*.fls

booklet/ex1.log

booklet/ex1.out

booklet/ex1.run.xml

booklet/ex1.synctex.gz

booklet/ex1.toc

booklet/ans_ex1.tex

literature/

*\+*/
checksum

booklet/progs/arma_1_1_dynare.log

booklet/progs/arma_1_1_dynare/

booklet/ex2.run.xml

booklet/ex2.synctex.gz

booklet/ans_ex2.tex

booklet/ex2.log

booklet/ex2.out

booklet/ex2.toc

booklet/progs/dynare/Baxter_King/Output/Baxter_King_results.mat

booklet/progs/dynare/Baxter_King.log

booklet/ex3.toc

booklet/ex3.synctex.gz

booklet/ex3.run.xml

booklet/ex3.out

booklet/ex3.log

booklet/ans_ex3.tex

booklet/progs/dynare/new_keynesian_steady/latex/steady_state_content.tex

booklet/progs/dynare/new_keynesian_steady/latex/steady_state.tex

booklet/progs/dynare/new_keynesian_steady/latex/original_content.tex

booklet/progs/dynare/new_keynesian_steady/latex/original.tex

booklet/progs/dynare/new_keynesian_steady/latex/new_keynesian_steady_latex_parameters.tex

booklet/progs/dynare/new_keynesian_steady/latex/new_keynesian_steady_latex_definitions.tex

booklet/progs/dynare/new_keynesian_steady/Output/new_keynesian_steady_results.mat

booklet/progs/dynare/new_keynesian_steady.log

booklet/progs/dynare/new_keynesian_steady_TeX_binder.log

booklet/progs/dynare/new_keynesian_steady_TeX_binder.pdf

booklet/progs/dynare/new_keynesian_steady_TeX_binder.tex

video/

booklet/ans_ex4.tex

booklet/ex4.toc

booklet/ex4.synctex.gz

booklet/ex4.run.xml

booklet/ex4.out

booklet/ex4.log

booklet/progs/matlab/rbc_dynamic_g1.m

booklet/progs/matlab/rbc_dynamic_resid.m

booklet/progs/matlab/rbc_static_g1.m

booklet/progs/matlab/rbc_static_resid.m

booklet/progs/rbc_static_resid.m

booklet/progs/rbc_static_g1.m

booklet/progs/rbc_dynamic_g2.m

booklet/progs/matlab/num_df.m
